<div class="card shadow ms-5 mb-5">
    <div class="card-header bg-primary text-white text-center">
        <h3 class="card-title mb-0">Cadastrar Vendedor</h3>
    </div>
    <div class="card-body">
        <form>
            <input type="hidden" name="id">
            
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>

            <div class="mb-3">
                <label for="salary" class="form-label">Salário (R$)</label>
                <input type="number" class="form-control " name="salary" id="salary">
            </div>

            <div class="mb-3">
                <label for="bonus" class="form-label">Bônus (%)</label>
                <input type="number" class="form-control" name="bonus" id="bonus">
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gênero</label>
                <select class="form-select" name="gender" id="gender">
                    <option value="" disabled selected>Selecione...</option>
                    <option value="0">Feminino</option>
                    <option value="1">Masculino</option>
                    <option value="2">Outro</option>
                </select>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" id="btn-submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
