<div class="card shadow ms-5 mb-5">
    <div class="card-header bg-primary text-white text-center">
        <h4 class="card-title mb-0">{{ formTitle }}</h4>
    </div>
    <div class="card-body">
        <form #sellerForm="ngForm" (ngSubmit)="onSubmit(sellerForm)">
            <input type="hidden" name="id" [(ngModel)]="seller.id">
            
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" name="name" id="name" [(ngModel)]="seller.name" required>
            </div>

            <div class="mb-3">
                <label for="salary" class="form-label">Salário (R$)</label>
                <input type="number" class="form-control " name="salary" id="salary" [(ngModel)]="seller.salary" required>
            </div>

            <div class="mb-3">
                <label for="bonus" class="form-label">Bônus (%)</label>
                <input type="number" class="form-control" name="bonus" id="bonus" [(ngModel)]="seller.bonus" required>
            </div>

            <div class="mb-3">
                <label for="gender" class="form-label">Gênero</label>
                <select class="form-select" name="gender" id="gender" [(ngModel)]="seller.gender" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option value="0">Feminino</option>
                    <option value="1">Masculino</option>
                    <option value="2">Outro</option>
                </select>
            </div>

            <div class="d-grid gap-2">
                <button *ngIf="!isEditing" type="submit" class="btn btn-primary" id="btn-submit">Cadastrar</button>
            </div>
            <div *ngIf="isEditing" class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Atualizar</button>
                <button type="submit" class="btn btn-secondary" (click)="cancelEdit(sellerForm)">Cancelar</button>
            </div>
        </form>
    </div>
</div>
