<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Salário</th>
        <th>Bônus</th>
        <th>Gênero</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seller of sellers$ | async">
        <td class="fw-bold">#{{ seller.id }}</td>
        <td class="table-text">{{ seller.name}}</td>
        <td class="table-text">{{ seller.salary | currency: 'BRL' }}</td>
        <td class="table-text">{{ (seller.bonus / 100) | percent: '1.2-2'}}</td>
        <td class="table-text">
          {{ seller.gender == 0 ? 'Masculino' : seller.gender == 1 ? 'Feminino' : 'Outro' }}</td>
        <td class="justify-content-center d-flex">
          <button class="btn btn-sm btn-warning me-2" (click)="editSeller(seller)">
            <i>Editar</i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteSeller(seller.id)">
            <i>Excluir</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>