<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Salário</th>
        <th>Bônus</th>
        <th>Gênero</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#1</td>
        <td>Teste da Silva</td>
        <td>1200,00</td>
        <td>10%</td>
        <td>Masculino</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">
            <i class="fa fa-edit">Editar</i>
          </button>
          <button class="btn btn-sm btn-danger">
            <i class="fa fa-trash">Excluir</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>